@use "../../../styles/breakpoints" as *;

.intro {
  padding: 120px var(--margin-x) 40px;
  max-width: 60ch;

  @include desktop {
    padding-top: 160px;
    padding-bottom: 60px;
  }
}

.empty {
  padding: 120px var(--margin-x);
  text-align: center;
  color: var(--color-grey);
}
