@use "../../../styles/breakpoints" as *;

.header {
  padding: 120px var(--margin-x) 30px;
  text-align: center;

  @include tablet {
    padding-top: 160px;
    padding-bottom: 48px;
  }

  @include desktop {
    padding-top: 160px;
    padding-bottom: 48px;
  }
}

.title {
  margin: 0 auto;
  max-width: 860px;
}

.subtitle {
  display: inline;
}
