// styles/_breakpoints.scss
$bp-mobile-max: 767px;
$bp-tablet-min: 768px;
$bp-tablet-max: 1023px;
$bp-desktop-min: 1024px;
$bp-desktop-xl-min: 1800px;

@mixin mobile { @media (max-width: $bp-mobile-max) { @content; } }
@mixin tablet { @media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) { @content; } }
@mixin desktop { @media (min-width: $bp-desktop-min) { @content; } }
@mixin desktop-only { @media (min-width: $bp-desktop-min) and (max-width: $bp-desktop-xl-min - 1px) { @content; } }
@mixin desktop-xl { @media (min-width: $bp-desktop-xl-min) { @content; } }
@mixin tablet-up { @media (min-width: $bp-tablet-min) { @content; } }
