// styles/_colors.scss
:root {
  --color-fg: #000000;
  --color-bg: #ffffff;
  --color-grey: #8e8e8e;
  --color-grey-light: #c8c8c8;
  --color-bubble: #ededed;
  --color-overlay: rgba(255, 255, 255, 0.6);
  --color-related-hover-bg: #000000;
  --color-related-hover-fg: #ffffff;
}
